<!-- COMMENT -->

<th:block xmlns:th="http://www.thymeleaf.org" th:each="comment : ${list}">
    <div class="post">
        <div class="topwrap">
            <div class="userinfo pull-left">
                <div class="avatar">
                    <img th:src="@{'uploads/'+${comment.user.imagePath}}"
                         alt=""/>
                </div>

            </div>
            <div class="posttext pull-left">
                <p th:text="${comment.desc}">Desc</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="postinfobot">

            <div class="posted pull-left" th:inline="text">
                <i class="fa fa-clock-o"></i>
                Posted on
                : [[${comment.writeDate}]]
            </div>
            <div class="posted pull-left" th:text="${comment.user.firstName}+' '+${comment.user.lastName}"> </div>
            <div class="posted pull-left"><i class="fa fa-trash-o"></i></div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- COMMENT -->
</th:block>
